<!doctype html>
<html>
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width">

  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}">

  <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet" type="text/css">

  <!-- build:css({app,.tmp}) /css/main.css -->
  <link rel="stylesheet" href="/css/base.css">
  <!-- endbuild -->

</head>
<body id="{{ page.page }}">

  <header>
    <h1><a{% if page.page == "home" %} class="selected"{% endif %} href="/">Cade <span class="hidden-mobile">Scroggins</span></a></h1>
    <nav>
      <ul>
        <li><a{% if page.page == "thoughts" %} class="selected"{% endif %} href="/thoughts">Thoughts</a></li>
        <li><a{% if page.page == "projects" %} class="selected"{% endif %} href="/projects">Projects</a></li>
      </ul>
    </nav>
  </header>

  <div class="hero">
    <h2>{{ page.title }}</h2>
  </div>

  <div class="content">
    {{ content }}

    <footer>
      {% if page.previous.title %}
        <a class="previous" href="{{ page.previous.url }}">&laquo; {{ page.previous.title }}</a>
      {% else %}
        <a class="previous" href="/">&laquo; Who Am I?</a>
      {% endif %}
      {% if page.next.title %}
        <a class="next" href="{{ page.next.url }}">{{ page.next.title }} &raquo;</a>
      {% else %}
        <a class="previous" href="/">Who Am I? &raquo;</a>
      {% endif %}
    </footer>
  </div>

  <!-- build:js(app) /js/main.js -->
  <script src="/_vendor/jquery/dist/jquery.js"></script>
  <script src="/js/main.js"></script>
  <!-- endbuild -->

  <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

</body>
</html>
