#thought,
#project {
  footer {
    background-color: $dark;
    text-align: center;
    overflow: auto;

    a {
      box-sizing: border-box;
      display: block;
      width: 100%;
      padding: 1.5em 1em;

      @media (min-width: $tablet-width) {
        float: left;
        width: 50%;
      }
    }

    .previous {
    }

    .next {
    }
  }
}
