.hero {
  display: none;
}

#project,
#thought {
  .hero {
    position: absolute;
    display: table;
    top: 3.6em;
    left: 0;
    width: 100%;
    height: $hero-height - 3.6em;
    background-color: $pink;
    z-index: -5;
    text-align: center;

    h2 {
      display: table-cell;
      vertical-align: middle;
    }

    @media (min-width: $mobile-width) {
      position: fixed;
    }
  }
}
